@import "tailwindcss";

@theme {
  --color-rendezvous-red: oklch(0.46 0.27 29);
  --color-rendezvous-red-soft: oklch(0.55 0.22 29);
  
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
